#box {
        display: none;
	z-index: 999;
	-webkit-animation: fade .6s;
	-moz-animation: fade .6s;
	animation: fade .6s;
	overflow: auto;
}
#priemnaya_table{
    display: block;
}
#problem_theme{
  display: none;
}
.flat, .floor, .house {
    color: blue;
    }
.flat:hover, .floor:hover, .house:hover {
background: #786b59; /* Цвет фона под ссылкой */ 
color: #ffe; /* Цвет ссылки */ 
} 

#img_place_box{
    width: 100px;   
    float: left;
    display: block;
    margin: 2px;
}
.img_place_name{
   width: 15%;
   float: left;
   position:relative;
}
#img_place{
    float: left;
    margin: 0px;    
  }
#img_place_name{
      position:relative;
      width: 20px;
  }
  #h2box{
   width: 30px;  
   
   position:inherit;
  }
form{
    float: left;
    display: block;
    margin: 2px;
    width: 70%;    
    padding-left: 10px;
    border-left: 4px solid #0099da;
}
